<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="overflow: hidden ">
<script src="javascripts/three.min.js"></script>
<script src="javascripts/csg.js"></script>
<script src="javascripts/ThreeCSG.js"></script>
<script src="javascripts/THREEx.keyboardstate.js"></script>
<script src="javascripts/OrbitControls.js"></script>
<script src="javascripts/THREEx.FullScreen.js"></script>
<script src="javascripts/THREEx.WindowResize.js"></script>
<script>
    var renderer, scene, camera;
    var controls;
    var clock = new THREE.Clock();

    var keyboard = new THREEx.KeyboardState();

    var auxPlane;

    init();
    animate();
    function init() {
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 20000);
        camera.position.set(0,150,400);

        renderer = new THREE.WebGLRenderer({alpha: true});
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        THREEx.WindowResize(renderer, camera);
        THREEx.FullScreen.bindKey({charCode: 'm'.charCodeAt(0)});
        controls = new THREE.OrbitControls( camera, renderer.domElement );

        var geometry = new THREE.PlaneGeometry(640, 640, 0, 0);
        console.log("/image/<%=ne_lat %>/<%=sw_lat %>/<%=ne_long %>/<%=sw_long %>");
        var texture = THREE.ImageUtils.loadTexture("/image/<%=ne_lat %>/<%=sw_lat %>/<%=ne_long %>/<%=sw_long %>", {},
                function () {});
        var material = new THREE.MeshBasicMaterial({ map: texture, color: 0xffffff});
        var plane = new THREE.Mesh(geometry, material);
        plane.position.y=-0.5;
        plane.rotation.x = -Math.PI/2;

        var aux = new THREE.BoxGeometry(300, 300, 0.1);
        var auxMesh = new THREE.Mesh(aux);
        var auxBSP = new ThreeBSP(auxMesh);

        var logical = new THREE.BoxGeometry(10000, 10000, 0.1);
        var logicalMesh = new THREE.Mesh(logical);
        var logicalBSP = new ThreeBSP(logicalMesh);

        var newPlaneBSP = logicalBSP.subtract(auxBSP);
        var newMaterial = new THREE.MeshBasicMaterial({color: 0xffffff});
        auxPlane = newPlaneBSP.toMesh(newMaterial);
        auxPlane.rotation.x = -Math.PI/2;

        scene.add(auxPlane);
        scene.add(plane);
    }

    function animate()
    {
        requestAnimationFrame( animate );
        render();
        update();
    }

    function update()
    {

        var clock = new THREE.Clock();
        var delta = clock.getDelta(); // seconds.
        var moveDistance = 150000 * delta; // 200 pixels per second

        // move forwards/backwards/left/right
        if ( keyboard.pressed("up") ){
            console.log("up");
            auxPlane.position.z -= moveDistance;
            camera.position.z -=moveDistance;
        }
        if ( keyboard.pressed("down") ) {
            console.log("down");
            auxPlane.position.z += moveDistance;
            camera.position.z += moveDistance;
        }
        if ( keyboard.pressed("left") ){
            console.log("left");
            auxPlane.position.x-= moveDistance;
            camera.position.x -=moveDistance;
        }
        if ( keyboard.pressed("right") ) {
            auxPlane.position.x += moveDistance;
            console.log("right");
            camera.position.x += moveDistance;
        }
        controls.update();
    }

    function render()
    {
        renderer.render( scene, camera );
    }

</script>
</body>
</html>